{% extends 'base.html.twig' %}
    
{% block title %}Ajout d'une article{% endblock %}
    
{% block body %}
<div class="example-wrapper">
    <h1>Ajout d'une article</h1>
    {{ form(form) }}
</div>
{% endblock %}
